<!DOCTYPE html>
<html lang="HE" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title @ViewBag.StudentName</title>
    <link rel="icon" href="~/Content/Pic/Logo.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")

</head>
<body class="text-right" style="background-color:#fcfbe3">
    <div class="row container-fluid">
        <div class="col-xl-3 col-md-4 col-sm-12 col-12">
            <div class="col-12 text-center">
                <a href="@Url.Action("Index","Student")">
                    <img src="~/Content/Pic/Logo.png" alt="דיקאנט לוגו" class="logo img-fluid " />
                </a>
            </div>
            <div class="row ">
                <div class="col-12 pb-3">
                    <h1 class="text-center stu-name">שלום @ViewBag.StudentName </h1>
                </div>
                <div class="col-12">
                    <!-- Nav pills -->
                    <ul class="nav nav-pills nav-justified flex-column p-0">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#reqStatuses">סטטוסי בקשות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#reqScholarship">הגשת מלגות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#reqUpdate">עדכון בקשות</a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("עדכון פרטים", "UpdateStudent", "Student", null, new { @class = "nav-link btn-warning" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("התנתק", "Disconnect", "Login", null, new { @class = "nav-link btn-danger" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div class="container-fluid body-content my-4 col-xl-9 col-md-8 col-sm-12 col-12">
            @RenderBody()
        </div>

    </div>
   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.form.min.js"></script>

</body>
</html>
