@using HtmlHelpers.BeginCollectionItem;
@using Common;
@model DataEntities.FamilyMember
<!--show family member info-->
    <div class="fam">
        @using (Html.BeginCollectionItem("ListFamMem"))
        {
        <div class="form-group row text-center">
            @Html.EditorFor(model => model.FamilyMemberId, new { htmlAttributes = new { @class = "control-label col-md-2 id" } })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-1" } })
            @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "control-label col-md-1" } })
            @Html.DropDownListFor(model => model.Realationship, new SelectList(Enum.GetValues(typeof(Enums.Realationship)), null, new List<Enums.Realationship> { Enums.Realationship.אב, Enums.Realationship.אם, Enums.Realationship.בעל, Enums.Realationship.אישה }), "", new { @class = "control-label col-md-2", @data_placeholder = "מגדר" })
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Enums.Genders))), "", new { @class = "control-label col-md-1", @data_placeholder = "מגדר" })
            @Html.TextBoxFor(model => model.FileFamId, new { @class = "control-label col-md-2", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.DisplayFor(model => model.PathFmId, new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                <button class="btn btn-danger del-fammem" type="button">X</button>
            </div>
        </div>
        <div class="form-group row text-danger">
            @Html.ValidationMessageFor(model => model.FamilyMemberId, "", new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Realationship, "", new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "control-label col-md-2" })
            @Html.ValidationMessageFor(model => model.FileFamId, "", new { @class = "control-label col-md-2" })
        </div>
        }
    </div>