@using listhelper;
@model DataEntities.FamilyStudentFinance

    <div class="fammfin">
        @using (Html.BeginCollectionItem("FamilyStudentFinances", ""))
        {
            <div class="text-center">
                @* <h3>הכנסה הוצאה מס' @(Model.FinNo + 1)</h3>*@
                <h3><span class="box-title"></span> מס' @(Model.FinNo + 1)</h3>
            </div>

            <div class="text-center">
                @Html.DropDownListFor(model => model.Year, ViewBag.YearsList as SelectList, "", htmlAttributes: new { @class = "control-label chosen must", @data_placeholder = "שנה" })
            </div>
            <div class="text-center my-2">
                @Html.DropDownListFor(model => model.Month, ViewBag.MonthsList as SelectList, "", htmlAttributes: new { @class = "control-label chosen must", @data_placeholder = "חודש" })
            </div>
            <div class="form-row text-center w-75 mx-auto salary-entery">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "must control-label pos-num" } })
                @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "title" })
            </div>
            <p>קובץ <span class="box-title"></span></p>
            <div class="half-row">
                <div class="form-row chose-file-warp">
                    <div class="chose-file text-center">
                        @Html.TextBoxFor(model => model.FileSalary, new { @class = "must control-label", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf", @style = "display:none;", @path = Model.PathSalary })
                        <label for="@Html.IdFor(m => m.FileSalary)">
                            <i class="ml-1 material-icons">add_photo_alternate</i>
                            בחר קובץ
                        </label>
                        @Html.HiddenFor(model => model.PathSalary)
                    </div>

                </div>
                <div class="text-center form-row">
                    @*<embed src='/UsersFiles/@Model.FamilyMemberId/@Model.PathSalary' class=" @(@Model.PathSalary == null ? "d-none" : " ") embed-file" style="" />*@
                    <a name="@Model.PathSalary" style="display:@(Model.PathSalary != null ? "" : "none")" class="btn btn-light btn-file">צפייה בקובץ שמור</a>

                </div>
            </div>
            @Html.HiddenFor(model => model.FinNo)
        }
    </div>