@using HtmlHelpers.BeginCollectionItem;
@using Common;
@model DataEntities.FamilyMember
<!--show family member info-->
    <div class="fammember">
        @using (Html.BeginCollectionItem("ListFamMemFin"))
        {
        <div class="form-group row text-center">
            @Html.EditorFor(model => model.FamilyMemberId, new { htmlAttributes = new { @class = "control-label col-md-2" } })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "control-label col-md-2" } })
            @Html.DropDownListFor(model => model.Realationship, new SelectList(Enum.GetValues(typeof(Enums.Realationship)), null, new List<Enums.Realationship> { Enums.Realationship.אח, Enums.Realationship.אחות, Enums.Realationship.בן, Enums.Realationship.בת }), "", new { @class = "form-control chosen", @data_placeholder = "מגדר" })
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Enums.Genders))), "", new { @class = "form-control chosen", @data_placeholder = "מגדר" })
            @Html.TextBoxFor(model => model.FileFamId, new { @class = "control-label col-md-1", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.HiddenFor(model => model.PathFmId)
        </div>
            <div class="form-group row text-danger">
                @Html.ValidationMessageFor(model => model.FamilyMemberId, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Realationship, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.FileFamId, "", new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.שכיר)
                <span>@Common.Enums.WorkingStatus.שכיר</span>

                @Html.RadioButtonFor(model => model.WorkSt, Common.Enums.WorkingStatus.עצמאי)
                <span>@Common.Enums.WorkingStatus.עצמאי</span>

                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.חבר_קיבוץ)
                <span>@Common.Enums.WorkingStatus.חבר_קיבוץ</span>

                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.לא_עובד)
                <span>@Common.Enums.WorkingStatus.לא_עובד</span>

                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.פנסיונר)
                <span>@Common.Enums.WorkingStatus.פנסיונר</span>

                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.נכה)
                <span>@Common.Enums.WorkingStatus.נכה</span>

                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.נכה)
                <span>@Common.Enums.WorkingStatus.נפטר</span>

                @Html.RadioButtonFor(model => model.WorkSt, Enums.WorkingStatus.אחר)
                <span>@Common.Enums.WorkingStatus.אחר</span>

                @Html.ValidationMessageFor(model => model.WorkSt, "", new { @class = "text-danger" })
            </div>
            <div id="Famfindiv">
                @{ if (Model.FamilyStudentFinances != null)
                   {
                        foreach (var FamFin in Model.FamilyStudentFinances.ToList())
                        {
                            @Html.Partial("FamFinView", FamFin)
                        }
                   }
                 }
            </div>
        }
    </div>