@using DataEntities;
@model DataEntities.SocioAdd

@{
    ViewBag.Title = "מלגת סוציואקונומית - ";
    Layout = "~/Views/Student/_Sp_Layout.cshtml";
    ViewBag.StudentName = ((Users)HttpContext.Current.Session["Student"]).FirstName + " " + ((Users)HttpContext.Current.Session["Student"]).LastName;
}

<h2>סוציואקונומי</h2>

@using (Html.BeginForm("Socio", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.SocioMod.ScholarshipId, new { @class = "control-label col-md-2" })


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.SchoolYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SocioMod.SchoolYear,
            new SelectList(Enum.GetNames(typeof(Common.Enums.SchoolYear))), "שנת לימוד", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SocioMod.SchoolYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.Apartment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.Apartment)
                @Html.ValidationMessageFor(model => model.SocioMod.Apartment, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileApartmentLease, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileApartmentLease, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileApartmentLease, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.Newcomer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.Newcomer)
                @Html.ValidationMessageFor(model => model.SocioMod.Newcomer, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.DateImmigration, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SocioMod.DateImmigration, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SocioMod.DateImmigration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileNewcomer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileNewcomer, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileNewcomer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.SingleParent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.SingleParent)
                @Html.ValidationMessageFor(model => model.SocioMod.SingleParent, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileSingleParent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileSingleParent, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileSingleParent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.BereavedFam, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.BereavedFam)
                @Html.ValidationMessageFor(model => model.SocioMod.BereavedFam, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileBereavedFam, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileBereavedFam, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileBereavedFam, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.ReceiveScholarship, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.ReceiveScholarship)
                @Html.ValidationMessageFor(model => model.SocioMod.ReceiveScholarship, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.MilitaryService, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.SocioMod.MilitaryService, Common.Enums.MilitaryTypes.צבאי)
            <span>@Common.Enums.MilitaryTypes.צבאי</span>

            @Html.RadioButtonFor(model => model.SocioMod.MilitaryService, Common.Enums.MilitaryTypes.לאומי)
            <span>@Common.Enums.MilitaryTypes.לאומי</span>

            @Html.RadioButtonFor(model => model.SocioMod.MilitaryService, Common.Enums.MilitaryTypes.אחר)
            <span>@Common.Enums.MilitaryTypes.אחר</span>
            @Html.ValidationMessageFor(model => model.SocioMod.MilitaryService, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileMilitaryService, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileMilitaryService, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileMilitaryService, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.ReserveMilitaryService, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.ReserveMilitaryService)
                @Html.ValidationMessageFor(model => model.SocioMod.ReserveMilitaryService, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileReserveMilitaryService, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileReserveMilitaryService, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileReserveMilitaryService, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.HasFunding, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.HasFunding)
                @Html.ValidationMessageFor(model => model.SocioMod.HasFunding, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group row text-center">
        <!--labels for table of car student-->
        @Html.LabelFor(model => model.ListFundings[0].FinancingInstitution, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListFundings[0].FinancingHeight, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListFundings[0].YearFinancing, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListFundings[0].FileFunding, htmlAttributes: new { @class = "control-label col-md-1" })
        @Html.LabelFor(model => model.ListFundings[0].PathFunding, htmlAttributes: new { @class = "control-label col-md-2" })
        <label class="col-md-1">מחיקה</label>
    </div>

    <div id="funddiv">
        @foreach (var fund in Model.ListFundings)
        {
            @Html.Partial("FundView", fund)
        }
    </div>
    <button class="btn btn-outline-success" id="addFund" type="button">+</button>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.CarOwner, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.SocioMod.CarOwner)
                @Html.ValidationMessageFor(model => model.SocioMod.CarOwner, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group row text-center">
        <!--labels for table of car student-->
        @Html.LabelFor(model => model.ListCarStudent[0].CarNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListCarStudent[0].CarCompany, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListCarStudent[0].CarModel, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListCarStudent[0].CarYear, htmlAttributes: new { @class = "control-label col-md-1" })
        @Html.LabelFor(model => model.ListCarStudent[0].CarComment, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListCarStudent[0].FileCarLicense, htmlAttributes: new { @class = "control-label col-md-2" })
        <label class="col-md-1">מחיקה</label>
    </div>

    <div id="cardiv">
        @foreach (var car in Model.ListCarStudent)
        {
            @Html.Partial("CarsView", car)
        }
    </div>
    <button class="btn btn-outline-success" id="addCar" type="button">+</button>


    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.DisabilityType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SocioMod.DisabilityType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SocioMod.DisabilityType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.FileDisabilityType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.SocioMod.FileDisabilityType, new { @class = "form-control", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.ValidationMessageFor(model => model.SocioMod.FileDisabilityType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocioMod.WorkSt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.שכיר)
            <span>@Common.Enums.WorkingStatus.שכיר</span>

            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.עצמאי)
            <span>@Common.Enums.WorkingStatus.עצמאי</span>

            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.חבר_קיבוץ)
            <span>@Common.Enums.WorkingStatus.חבר_קיבוץ</span>

            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.לא_עובד)
            <span>@Common.Enums.WorkingStatus.לא_עובד</span>

            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.פנסיונר)
            <span>@Common.Enums.WorkingStatus.פנסיונר</span>

            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.נכה)
            <span>@Common.Enums.WorkingStatus.נכה</span>

            @Html.RadioButtonFor(model => model.SocioMod.WorkSt, Common.Enums.WorkingStatus.אחר)
            <span>@Common.Enums.WorkingStatus.אחר</span>

            @Html.ValidationMessageFor(model => model.SocioMod.MilitaryService, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row text-center">
        <!--labels for table of student finance-->
        @Html.LabelFor(model => model.ListStudentFinances[0].Year, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListStudentFinances[0].Month, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListStudentFinances[0].Salary, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListStudentFinances[0].Expense, htmlAttributes: new { @class = "control-label col-md-1" })
        @Html.LabelFor(model => model.ListStudentFinances[0].FileSalary, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.LabelFor(model => model.ListStudentFinances[0].FileExpense, htmlAttributes: new { @class = "control-label col-md-2" })
        <label class="col-md-1">מחיקה</label>
    </div>

    <div id="Studfindiv">
        @foreach (var StudFin in Model.ListStudentFinances)
        {
            @Html.Partial("StudFinView", StudFin)
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="הגש מלגה" class="btn btn-success" name="uploadmethod" />
            <input type="submit" value="שמור טיוטה" class="btn btn-warning" name="uploadmethod" />
        </div>
    </div>
</div>
}

@section scripts{

    <script>

        var carviewurl = '@Url.Action("CarsView")';
        var fundviewurl = '@Url.Action("FundView")';
        var form = $('form');
        var carsdiv = $('#cardiv');
        var funddiv = $('#funddiv');

        $('#addCar').click(function() {
            $.get(carviewurl, function(response) {
            carsdiv.append(response);
            // Reparse the validator for client side validation
            //form.data('validator', null);
            //$.validator.unobtrusive.parse(form);
            });
        });

        $(document).on('click','.del-car',function() {
            var container = $(this).closest('.cars');
            var id = container.find('.id').attr('value');
            if (id)
            {
                $.ajax({
                    url: "/Student/DeleteCar",
                    dataType: 'text',
                    data: { CarNum: id },
                    method: "POST",
                    success: function () {
                        container.remove();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                        container.remove();
                    }
                });
            }
            else
            {
                // It never existed, so just remove the container
                container.remove();
            }
        });

        $('#addFund').click(function() {
            $.get(fundviewurl, function(response) {
            funddiv.append(response);
            // Reparse the validator for client side validation
            //form.data('validator', null);
            //$.validator.unobtrusive.parse(form);
            });
        });

        $(document).on('click','.del-fund',function() {
            var container = $(this).closest('.funds');
            var id = container.find('.id').val();
            if (id && id != 0)
            {
                $.ajax({
                    url: "/Student/DeleteFund",
                    dataType: 'text',
                    data: { FundId: id },
                    method: "POST",
                    success: function () {
                        container.remove();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                        container.remove();
                    }
                });
            }
            else
            {
                // It never existed, so just remove the container
                container.remove();
            }
        });
    </script>
}
