@using HtmlHelpers.BeginCollectionItem
@model DataEntities.StudentFinance

    <div class="studfin">
        @using (Html.BeginCollectionItem("ListStudentFinances"))
        {
        <div class="form-group row text-center">
            @Html.DropDownListFor(model => model.Year, ViewBag.YearsList as SelectList, "שנה", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.Month, ViewBag.MonthsList as SelectList, "חודש", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "control-label col-md-2" } })
            @Html.EditorFor(model => model.Expense, new { htmlAttributes = new { @class = "control-label col-md-2" } })
            @Html.TextBoxFor(model => model.FileSalary, new { @class = "control-label col-md-1", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.TextBoxFor(model => model.FileExpense, new { @class = "control-label col-md-1", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf" })
            @Html.HiddenFor(model => model.PathSalary)
            @Html.HiddenFor(model => model.PathExpense)
            @Html.EditorFor(model => model.FinNo)
            <div class="col-md-1">
                <button class="btn btn-danger del-studfin" type="button">X</button>
            </div>
        </div>
            <div class="form-group row text-danger">
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Expense, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.FileSalary, "", new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.FileExpense, "", new { @class = "control-label col-md-2" })
            </div>
        }
    </div>