<!DOCTYPE html>
<html lang="HE" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/Pic/Logo.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/Css")
    @Styles.Render("~/Content/datepicker")
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
</head>
<body class="text-right" style="background-image:url('../../Content/Pic/bgall.png');background-size:cover;background-repeat:no-repeat;padding: 0">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#22285e;">
        <!-- Brand -->
        <a href="@Url.Action("Index","Dikan")" class="navbar-brand">
            <img src="~/Content/Pic/Logoclean.png" alt="דיקאנט לוגו" class="logo img-fluid d-block mx-auto " style="width: 70px;" />
        </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" style="background-color:#22285e;" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        מלגות שהוגשו
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("SubmitedSp", "Dikan", new { spType = "סוציואקונומית" })">מלגת סוציואקונומית</a>
                        <a class="dropdown-item" href="@Url.Action("SubmitedSp", "Dikan", new { spType = "הלכה" })">מלגת הלכה למעשה</a>
                        <a class="dropdown-item" href="@Url.Action("SubmitedSp", "Dikan", new { spType = "מצוינות" })">מלגת מצוינות</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        הגדרות מלגה
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("CreateEditSp", "Dikan")">הוספת מלגה חדשה</a>
                        <a class="dropdown-item" href="@Url.Action("SpList", "Dikan")">רשימת מלגות</a>
                        <a class="dropdown-item" href="@Url.Action("VolunteerList", "Dikan")">רשימת מקומות התנדבות</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        משתמשי המערכת
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("CreateUser", "Dikan")">הוספת משתמש חדש</a>
                        <a class="dropdown-item" href="@Url.Action("UsersList", "Dikan")">רשימת משתמשים</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        הארכות מלגות
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("CreateEditExStudent", "Dikan")">הארכת זמן מלגה לסטודנט</a>
                        <a class="dropdown-item" href="@Url.Action("ExceptionStudentList", "Dikan")">רשימת הארכות</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        ועדות משמעת
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("CreateEditDiscipline", "Dikan")">פתיחת ועדה חדשה</a>
                        <a class="dropdown-item" href="@Url.Action("DisciplineList", "Dikan")">רשימת ועדות</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        מגמות וראשי מגמה
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("CreateMajor", "Dikan")">הוספת מגמה</a>
                        <a class="dropdown-item" href="@Url.Action("MajorsList", "Dikan")">רשימת מגמות</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="@Url.Action("Disconnect", "Login")">התנתק</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content mt-4">
        @RenderBody()
    </div>

    <!-- File Modal -->
    <div class="modal fade" id="fileModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header text-success">
                    <h4 class="modal-title">קובץ שמור</h4>
                    <button type="button" class="close ml-0" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body text-success text-center">
                    <embed src="" class="embed-file" type="image/jpeg" />
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">סגירה</button>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/umd/popper.js"></script>
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/javascript")
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        MvcGrid.prototype.lang = {
            text: {
                'contains': 'מכיל',
                'equals': 'שווה ל',
                'not-equals': 'אינו שווה',
                'starts-with': 'מתחיל עם',
                'ends-with': 'נגמר עם'
            },
            number: {
                'equals': 'שווה',
                'not-equals': 'לא שווה',
                'less-than': 'קטן',
                'greater-than': 'גדול',
                'less-than-or-equal': 'קטן שווה',
                'greater-than-o-requal': 'גדול שווה'
            },
            date: {
                'equals': 'שווה',
                'not-equals': 'לא שווה',
                'earlier-than': 'מוקדם מ',
                'later-than': 'מאוחר מ',
                'earlier-than-or-equal': 'מוקדם מ או שווה',
                'later-than-or-equal': 'מאוחר מ או שווה'
            },
            enum: {
                'equals': 'שווה',
                'not-equals': 'לא שווה'
            },
            boolean: {
                'equals': 'שווה',
                'not-equals': 'לא שווה'
            },
            guid: {
                'equals': 'שווה',
                'not-equals': 'לא שווה'
            },
            filter: {
                'apply': '✔',
                'remove': '✘'
            },
            operator: {
                'select': '',
                'and': 'וגם',
                'or': 'או'
            }
        };

        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
            new MvcGrid(element);
        });
    </script>


</body>
</html>

