@model DataEntities.DisciplineCommittee

@{
    Layout = "~/Views/Dikan/_Layout.cshtml";
}

<h2 class="text-center text-lg-right">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(s=>s.CommitteeId)
    <div class="row">
        <div class="form-group col-md-4 col-sm-4 col-12">
            @Html.LabelFor(model => model.CommitteeDate, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @*@Html.EditorFor(model => model.CommitteeDate, new { htmlAttributes = new { @class = "form-control datepicker only-numbers must", @data_toggle = "datepicke111r",@type ="date" } })*@
                @Html.EditorFor(model => model.CommitteeDate, new { htmlAttributes = new { @class = "form-control must only-numbers"  } })
                @Html.ValidationMessageFor(model => model.CommitteeDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-12">
            @Html.LabelFor(model => model.CommitteeTime, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.CommitteeTime, new { htmlAttributes = new { @class = "form-control only-numbers must"} })
                @Html.ValidationMessageFor(model => model.CommitteeTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-12">
            @Html.LabelFor(model => model.HeadMajorId, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.DropDownListFor(model => model.HeadMajorId, ViewBag.MajorList as SelectList, "", htmlAttributes: new { @class = "form-control chosen must", @data_placeholder = "בחר מגמה" })
                @Html.ValidationMessageFor(model => model.HeadMajorId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="form-group col-md-3 col-sm-6 col-12">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control id must only-numbers" } })
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-6 col-12">
            @Html.LabelFor(model => model.StudentFirstName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.StudentFirstName, new { htmlAttributes = new { @class = "form-control must only-heb" } })
                @Html.ValidationMessageFor(model => model.StudentFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-6 col-12">
            @Html.LabelFor(model => model.StudentLastName, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.StudentLastName, new { htmlAttributes = new { @class = "form-control must only-heb" } })
                @Html.ValidationMessageFor(model => model.StudentLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3 col-sm-6 col-12">
            @Html.LabelFor(model => model.StudentMail, htmlAttributes: new { @class = "control-label" })
            <div class="">
                @Html.EditorFor(model => model.StudentMail, new { htmlAttributes = new { @class = "form-control must",type = "email"}})
                @Html.ValidationMessageFor(model => model.StudentMail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-group col-12">
            @Html.LabelFor(model => model.CommitteeType, htmlAttributes: new { @class = "control-label " })
            <div class="col-12">
                @Html.EditorFor(model => model.CommitteeType, new { htmlAttributes = new { @class = "form-control must" } })
                @Html.ValidationMessageFor(model => model.CommitteeType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-12">
            @Html.LabelFor(model => model.CommitteeSummary, htmlAttributes: new { @class = "control-label" })
            <div class="col-12">
                @Html.TextAreaFor(model => model.CommitteeSummary,10,0, new { @class = "form-control w-100 must" } )
                @Html.ValidationMessageFor(model => model.CommitteeSummary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center text-lg-right">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ViewBag.btn" class="btn btn-outline-primary" onclick="return checkMust()" />
                @Html.ActionLink("חזרה לרשימה", "DisciplineList",null,new { @class= "btn btn-outline-primary" })
            </div>
        </div>
    </div>
}

<div>
    
</div>
