@model IEnumerable<DikanNetProject.Models.ViewExceptionUsers>

@{
    ViewBag.Title = "רשימת פתיחת מלגות לסטודנט";
    Layout = "~/Views/Dikan/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.res</h4>
<hr />
@Html.ActionLink("פתיחת בקשה חריגה נוספת", "CreateEditExStudent", null, new { @class = "btn btn-outline-primary" })
<div class="row bg-dark text-white py-3 mt-4 d-md-flex">
    <!--Exceptions-->
    <!--name-->
    <div class="col-lg-2 col-xl-2">
        שם מלא
    </div>
    <!--id-->
    <div class="col-lg-2 col-xl-2">
        מספר תעודת זהות סטודנט
    </div>
    <!--SpId-->
    <div class="col-lg-2 col-xl-2">
        קוד מלגה
    </div>
    <!--Sptype-->
    <div class="col-lg-2 col-xl-2">
        סוג מלגה
    </div>
    <!--lockdate-->
    <div class="col-lg-2 col-xl-2">
        תאריך נעילה
    </div>
    <!--options-->
    <div class="col-lg-2 col-xl-2">
        פעולות נוספות
    </div>
</div>

@{
    foreach (var user in Model)
    {
    <div class="row py-3 border border-secondary">
        <!--name-->
        <div class="col-lg-2 col-xl-2">
            @user.Name
        </div>
        <!--id-->
        <div class="col-lg-2 col-xl-2">
            @user.UserName
        </div>
        <!--SpId-->
        <div class="col-lg-2 col-xl-2">
            @user.SpId
        </div>
        <!--Sptype-->
        <div class="col-lg-2 col-xl-2">
            @user.SpType
        </div>
        <!--lockdate-->
        <div class="col-lg-2 col-xl-2">
            @DateTime.Parse(user.LockDate.ToString()).ToString("dd/MM/yyyy")
        </div>
        <!--options-->
        <div class="col-lg-2 col-xl-2">
            @Html.ActionLink("עריכה", "CreateEditExStudent", new { userid = user.UserId , spid = user.SpId}, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("מחיקה", "DeleteExStudent", new { userid = user.UserId , spid = user.SpId}, new { @class = "btn btn-outline-danger" })
        </div>
    </div>
    }
}
