@model IEnumerable<DikanNetProject.Models.ViewExceptionUsers>

@{
    ViewBag.Title = "רשימת פתיחת מלגות לסטודנט";
    Layout = "~/Views/Dikan/_Layout.cshtml";
}

<h2 class="text-center text-md-right">@ViewBag.Title</h2>
<h4 class="text-center text-md-right">@ViewBag.res</h4>
<hr />
<div class="text-center text-md-right">
    @Html.ActionLink("פתיחת בקשה חריגה נוספת", "CreateEditExStudent", null, new { @class = "btn btn-outline-primary mb-4 mb-md-0" })
</div>
<div class="row bg-primary text-center text-white py-3 mt-4 d-none d-md-flex">
    <!--Exceptions-->
    <!--name-->
    <div class="col-md-2 col-lg-2">
        שם מלא
    </div>
    <!--id-->
    <div class="col-md-2 col-xl-2">
        מספר תעודת זהות סטודנט
    </div>
    <!--SpId-->
    <div class="col-md-2 col-xl-2">
        קוד מלגה
    </div>
    <!--Sptype-->
    <div class="col-md-2 col-xl-2">
        סוג מלגה
    </div>
    <!--lockdate-->
    <div class="col-md-2 col-xl-2">
        תאריך נעילה
    </div>
    <!--options-->
    <div class="col-md-2 col-xl-2">
        פעולות נוספות
    </div>
</div>

@{
    foreach (var user in Model)
    {
    <div class="row py-3 border border-secondary text-center">
        <!--name-->
        <div class="col-md-2 col-xl-2">
            <span class="font-weight-bold d-inline-flex d-md-none">שם מלא:</span>
            @user.Name
        </div>
        <!--id-->
        <div class="col-md-2 col-xl-2">
            <span class="font-weight-bold d-inline-flex d-md-none">מספר תעודת זהות:</span>
            @user.UserName
        </div>
        <!--SpId-->
        <div class="col-md-2 col-xl-2">
            <span class="font-weight-bold d-inline-flex d-md-none">קוד מלגה:</span>
            @user.SpId
        </div>
        <!--Sptype-->
        <div class="col-md-2 col-xl-2">
            <span class="font-weight-bold d-inline-flex d-md-none">סוג מלגה:</span>
            @user.SpType
        </div>
        <!--lockdate-->
        <div class="col-md-2 col-xl-2 mb-2 mb-md-0">
            <span class="font-weight-bold d-inline-flex d-md-none">תאריך נעילה:</span>
            @DateTime.Parse(user.LockDate.ToString()).ToString("dd/MM/yyyy")
        </div>
        <!--options-->
        <div class="col-md-2 col-xl-2">
            @Html.ActionLink("עריכה", "CreateEditExStudent", new { userid = user.UserId , spid = user.SpId}, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("מחיקה", "DeleteExStudent", new { userid = user.UserId , spid = user.SpId}, new { @class = "btn btn-outline-danger" })
        </div>
    </div>
    }
}
