@model IEnumerable<DataEntities.DisciplineCommittee>
@using DataEntities;
@{
    Layout = "~/Views/Dikan/_Layout.cshtml";
    ViewBag.Title = "ממשק דיקאן";
}

<link href='~/fullcalendar/core/main.css' rel='stylesheet' />
<link href='~/fullcalendar/daygrid/main.css' rel='stylesheet' />

<script src='~/fullcalendar/core/main.js'></script>
<script src='~/fullcalendar/daygrid/main.js'></script>


<h2 class="text-danger">@ViewBag.res</h2>
<h2 class="mb-5 text-center text-md-right">ממשק דיקאן</h2>

<div id='calendar'></div>


@section scripts{
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                header: {
                left: 'today',
                center: 'title',
                right: 'next,prev'
                },
                buttonText: {
                    today: 'היום'
                },
                height: "auto",
                locale: 'he',
                dir: 'rtl',
                events: [
                     @{ DisciplineCommittee lastItem = Model.Last(); }
                    @foreach (var item in Model) {
                        {
                            string datee = string.Empty;
                            string date = item.CommitteeDate.ToString("yyyy-MM-dd");
                            string time = item.CommitteeTime.ToString("hh\\:mm");
                            datee = date + "T" + time; }
                    @:{
                            @: title: ('@item.CommitteeType - @item.StudentFirstName @item.StudentLastName'),
                            @: start: ('@string.Concat(item.CommitteeDate.ToString("yyyy-MM-dd"),"T",item.CommitteeTime.ToString("hh\\:mm"))'),
                            @: end: ('@string.Concat(item.CommitteeDate.ToString("yyyy-MM-dd"),"T",item.CommitteeTime += TimeSpan.FromHours(1))'),
                            @: description: '@item.StudentMail',
                            @: allDay: false
                    @:}

                    if (item != lastItem) {
                        @:,
                    }
                    else
                    {
                        @:
                    }
                }
                ],
                eventRender: function(event, element) {
                    $(element).popover({
                        title: function () {
                            return "<B>" + event.title + "</B>";
                        },
                        placement:'auto',
                        html:true,
                        trigger : 'click',
                        animation : 'false',
                        content: function () {
                            return "<h1> hello </h1>"
                        },
                        container:'body'
                    }).popover('show');
                },
                eventColor: '#2D357D',
                eventTextColor: 'white',
            });
            calendar.setOption('locale', 'he');
            calendar.updateSize();
            calendar.render();
        });

    </script>
}