@model IEnumerable<DataEntities.DisciplineCommittee>
@using DataEntities;
@{
    Layout = "~/Views/Dikan/_Layout.cshtml";
    ViewBag.Title = "ממשק דיקאן";
}

<link href='~/fullcalendar/core/main.css' rel='stylesheet' />
<link href='~/fullcalendar/daygrid/main.css' rel='stylesheet' />

<script src='~/fullcalendar/core/main.js'></script>
<script src='~/fullcalendar/daygrid/main.js'></script>


<h2 class="text-danger">@ViewBag.res</h2>
<h2 class="mb-5 text-center text-md-right">ממשק דיקאן</h2>

<div id='calendar'></div>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                header: {
                    left: 'today',

                center: 'title',
                right: 'prev,next'
                },
                buttonText: {
                    today: 'היום'
                },
                height: "auto",

                events: [
                     @{ DisciplineCommittee lastItem = Model.Last(); }
                    @foreach (var item in Model) {
                    @:{
                            @: title: ('@item.CommitteeType - @item.StudentFirstName @item.StudentLastName'),
                            @: start: ('@item.CommitteeDate.ToString("yyyy-MM-dd")'),
                            @: description: '@item.StudentMail'
                    @:}

                    if (item != lastItem) {
                        @:,
                    }
                    else
                    {
                        @:
                    }
                }
                ],
                eventColor: '#2D357D',
                eventTextColor: 'white',
               eventRender: function (info) {
                  $(info.el).tooltip({ 'title': info.event.title });     
                }
            });
            calendar.setOption('locale', 'he');
            calendar.updateSize();
            calendar.render();
        });

    </script>
}