@model DataEntities.SpExcellence

@{
    ViewBag.Title = "מלגת מצוינות";
    Layout = "~/Views/Dikan/_Layout.cshtml";
}

    <div class="w-75 mx-auto">
        <h4>מלגת @Html.DisplayFor(model => model.ScholarshipDefinition.ScholarshipName)</h4>
        <hr />
        @Html.Partial("StudentDetails", Model.Student)
    <div class="mt-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SchoolYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SchoolYear)
            </dd>
        </dl>

        <div class="row" style="display:@(Model.Iswork == true ? "" : "none")">
            <div class="col-md-4 col-sm-6 col-12 mt-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.WorkJob)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkJob)
                    </dd>
                </dl>
            </div>

            <div class="col-md-4 col-sm-6 col-12 mt-2">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.WorkPlace)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.WorkPlace)
                    </dd>
                </dl>
            </div>

        </div>

        <div class="row" style="display:@(Model.Iswork == false ? "" : "none")">
            <p class="font-weight-bold">לא עובד</p>
        </div>

        <div class="row" style="display:@(Model.WantSp == true ? "" : "none")">
            <div class="col-12 mt-2">
                <dl class="dl-horizontal">
                    <dt>
                        מעוניין במלגה - @Html.DisplayNameFor(model => model.MentorSub)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MentorSub)
                    </dd>
                </dl>
            </div>

        </div>

        <div class="row" style="display:@(Model.WantSp == false ? "" : "none")">
            <p class="font-weight-bold">לא מעוניין במלגה ובחונכות</p>
        </div>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AboutMe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AboutMe)
            </dd>
        </dl>
    </div>

        <div class="mb-5">
            @Html.DropDownListFor(model => model.Statuss,
                new SelectList(Enum.GetValues(typeof(Common.Enums.Status))), "", new
                { @class = "form-control chosen", @data_placeholder = "בחר סטטוס", @id = "new-status" })

            <br /><br />
            <button class="btn btn-success" id="update-status" sp="@Model.ScholarshipId" st="@Model.StudentId">עדכן סטטוס</button>
            @Html.ActionLink("חזרה לטבלה", "SubmitedSp", new { spId = Model.ScholarshipId, spType = Model.ScholarshipDefinition.Type }, new { @class = "btn btn-danger" })
        </div>
    </div>

    @section scripts{
        <script>

        </script>
    }
