@model DataEntities.Student

<div>
    <h4>
        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) - @Html.DisplayFor(model => model.StudentId)
    </h4>
    <hr />
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">@Html.DisplayName("אימייל")</p>
            @Html.DisplayFor(model => model.Email)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.MajorId)
            </p>
            @Html.DisplayFor(model => model.Major.MajorName)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.LearnPath)
            </p>
            @Html.DisplayFor(model => model.LearnPath)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">@Html.DisplayNameFor(model => model.City)</p>
            @Html.DisplayFor(model => model.Cities.Name)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.Street)
            </p>
            @Html.DisplayFor(model => model.Street)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.HouseNo)
            </p>
            @Html.DisplayFor(model => model.HouseNo)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.BirthDay)
            </p>
            @{ var birthday = @DateTime.Parse(Model.BirthDay.ToString()).ToString("dd/MM/yyyy");}
            @Html.DisplayFor(model => birthday)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.Gender)
            </p>
            @Html.DisplayFor(model => model.Gender)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </p>
            @Html.DisplayFor(model => model.MaritalStatus)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.CellphoneNo)
            </p>
            @Html.DisplayFor(model => model.CellphoneNo)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.PhoneNo)
            </p>
            @Html.DisplayFor(model => model.PhoneNo)
        </div>

        <div class="col-md-4 col-sm-6 col-12 mt-2">
            <p class="font-weight-bold m-0">
                @Html.DisplayNameFor(model => model.CountryBirthId)
            </p>
            @Html.DisplayFor(model => model.Country.CountryName)
        </div>



    </div>
</div>
