@using DikanNetProject.Models;
@model List<UsersView>
@{
    ViewBag.Title = "רשימת משתמשים";
    Layout = "~/Views/Dikan/_Layout.cshtml";
}
    <style>
        .chosen-container {
            max-width: 100%;
        }
    </style>

<h2>עדכון מייל סטודנט במערכת</h2>
<p>יש לחפש לפי תעודת זהות או שם מלא</p>
<div class="form-group col-md-6 col-sm-6 col-12">
        @Html.DropDownList("סטודנטים במערכת", ViewBag.StudentsList as SelectList, "", htmlAttributes: new { @class = "form-control chosen must", @data_placeholder = "בחר סטודנט", @id = "StudentDropDown" })
</div>

<div>
    <input type="email" id="user-mail" class="w-75 px-3 py-1">
    <button id="save-mail" type="button" class="btn btn-outline-primary">עדכן</button>
</div>
<br /><br />
<h2>רשימת משתמשים נוספים במערכת</h2>
<h4>@ViewBag.response</h4>
<hr />
@Html.ActionLink("הוספת משתמשים", "CreateUser",null, new { @class = "btn btn-outline-primary" })
<div class="row bg-primary text-white text-center py-3 d-none d-md-flex mt-4">
    <!--name-->
    <div class="col-lg-2 col-xl-2">
        שם מלא
    </div>
    <!--student id-->
    <div class="col-lg-2 col-xl-2">
        מספר תעודת זהות
    </div>
    <!--student mail-->
    <div class="col-lg-3 col-xl-3">
        מייל
    </div>
    <!--student mail-->
    <div class="col-lg-2 col-xl-2">
        תפקיד
    </div>
    <!--options-->
    <div class="col-lg-3 col-xl-3">
        פעולות
    </div>
</div>

@{
    foreach (var user in Model)
    {
        <div class="row py-3 border border-secondary text-center">
            <!--name-->
            <div class="col-lg-2 col-xl-2">
                @user.FirstName  @user.LastName
            </div>
            <!--id-->
            <div class="col-lg-2 col-xl-2">
                @user.UserName
            </div>
            <!--mail-->
            <div class="col-lg-3 col-xl-3">
                @user.Email
            </div>
            <div class="col-lg-2 col-xl-2">
                @if (user.Role == "Dikan"){<span>דיקאן</span>} else {<span>מזכירה</span> }
            </div>
            <!--options-->
            <div class="col-lg-3 col-xl-3">
                @Html.ActionLink("עריכה", "EditUser", new { Id = user.Id }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("מחיקה", "DeleteUser", new { Id = user.Id }, new { @class = "btn btn-outline-danger" })
            </div>
        </div>
    }
}

@section scripts
{
    <script>
        $("#StudentDropDown").change(function () {
            var op = $('option:selected', $(this)).text();
            console.log(op);
            var studentid = op.split("-");
            if (studentid != '') {
                $.ajax({
                    url: '@Url.Action("FindStudent","Dikan")',
                    data: { studentId: studentid[0] },
                    dataType: 'text',
                    method: 'GET',
                    success: function (data) {
                        console.log(data);
                        data = data.split('"');
                        console.log(data[1]);
                        $('#user-mail').val(data[1]);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                        $('#user-mail').val("");
                    }
                });
            }
            else {
                $('#user-mail').val("");
            }
        });

        $("#save-mail").click(function () {
            var op = $('option:selected').text();
            var studentid = op.split("-")[0];
            var mail = $('#user-mail').val();
            console.log("Id: " + studentid +" Mail: " + mail );
            
            if (studentid != '' && validEmail(mail)) {
                $.ajax({
                    url: '@Url.Action("EditEmail","Dikan")',
                    data: { studentId: studentid, newemail: mail },
                    dataType: 'text',
                    method: 'POST',
                    success: function (data) {
                        console.log(data);
                        $('#user-mail').val("");
                        $('option:selected').val("");
                        alert('העידכון בוצע בהצלחה');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                        alert('העידכון נכשל נסה שוב');
                    }
                });
            }
            else
                alert('אחד מהפרטים לעדכון שגוי');
        });
    </script>
}



