@using DikanNetProject.Models;
@model List<UsersView>
@{
    ViewBag.Title = "רשימת משתמשים";
    Layout = "~/Views/Dikan/_Layout.cshtml";
}
<h4 class="text-success">@ViewBag.response</h4>
<h2>חיפוש סטודנט במערכת</h2>
<p>יש לחפש לפי תעודת זהות או שם מלא</p>
<div>
    <input type="text" />
    <button class="btn btn-dark" id="search-student">חפש</button><!--checks if it is id or name and send in ajax-->
</div>

<div>
    <span id="user-name"></span>
    <input id="new-mail" type="text" />
    <button class="btn btn-dark" id="update-mail">עדכן מייל</button>
</div>
           

<h2>רשימת משתמשים נוספים במערכת</h2>
@Html.ActionLink("הוספת משתמשים", "CreateUser",null, new { @class = "btn btn-success" })
<div class="row bg-dark text-white py-3 d-none d-md-flex">
    <!--users-->
    <div class="col-lg-1 col-xl-1">
        #
    </div>
    <!--name-->
    <div class="col-lg-2 col-xl-2">
        שם מלא
    </div>
    <!--student id-->
    <div class="col-lg-2 col-xl-2">
        תז
    </div>
    <!--student mail-->
    <div class="col-lg-2 col-xl-2">
        מייל
    </div>
    <!--student mail-->
    <div class="col-lg-2 col-xl-2">
        תפקיד
    </div>
    <!--options-->
    <div class="col-lg-3 col-xl-3">
        פעולות
    </div>
</div>

@{ var counterUpdates = 1;
    foreach (var user in Model)
    {
        <div class="row py-3 border border-secondary">
            <!--No-->
            <div class="col-lg-1 col-xl-1">
                @counterUpdates
            </div>
            <!--name-->
            <div class="col-lg-2 col-xl-2">
                @user.FirstName  @user.LastName
            </div>
            <!--id-->
            <div class="col-lg-2 col-xl-2">
                @user.UserName
            </div>
            <!--mail-->
            <div class="col-lg-2 col-xl-2">
                @user.Email
            </div>
            <div class="col-lg-2 col-xl-2">
                @if (user.Role == "Dikan"){<span>דיקאן</span>} else {<span>מזכירה</span> }
            </div>
            <!--options-->
            <div class="col-lg-3 col-xl-3">
                @Html.ActionLink("עריכה", "EditUser", new { Id = user.Id }, new { @class = "btn btn-dark" })
                @Html.ActionLink("מחיקה", "DeleteUser", new { Id = user.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
        counterUpdates = counterUpdates + 1;
    }
}

@section scripts
{
    <script>

    </script>
}



