@model DikanNetProject.Models.ResetPasswordModel

@{
    ViewBag.Title = "סיסמא חדשה";
    ViewBag.Message = "סיסמא חדשה";
    ViewBag.ModelTitle = "סיסמא חדשה";
    Layout = "~/Views/Login/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p class="text-center">
        אנא הזן סיסמא חדשה
        <br />
        על הסיסמא להכיל לפחות 8 תווים אשר כוללים אות גדולה, אות קטנה ומספר
    </p>

    <div class="row container-fluid">
        @Html.HiddenFor(m => m.Code)
        <div class="row col-12 form-group justify-content-center text-center ">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-sm-12 col-md-3 col-lg-2 col-xl-2" })
            <div class="input-group col-sm-12 col-md-7 col-lg-5 col-xl-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(s => s.Email), id = @Html.NameFor(m => m.Email), type = "Email", name = @Html.NameFor(m => m.Email) } })
            </div>
        </div>
        <div class="row col-12 form-group justify-content-center text-center">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "col-sm-12 col-md-3 col-lg-2 col-xl-2" })
            <div class="input-group col-sm-12 col-md-7 col-lg-5 col-xl-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control pass", placeholder = Html.DisplayNameFor(s => s.Password), id = @Html.NameFor(m => m.Password), type = "password", name = @Html.NameFor(m => m.Password) } })
                <div class="input-group-append">
                    <span class="input-group-text review-password">&#x1F441;</span>
                </div>
            </div>
        </div>
        <div class="row col-12 form-group justify-content-center text-center ">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-sm-12 col-md-3 col-lg-2 col-xl-2" })
            <div class="input-group col-sm-12 col-md-7 col-lg-5 col-xl-4">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control pass", placeholder = Html.DisplayNameFor(s => s.ConfirmPassword), id = @Html.NameFor(m => m.ConfirmPassword), type = "password", name = @Html.NameFor(m => m.ConfirmPassword) } })
                <div class="input-group-append">
                    <span class="input-group-text review-confirm-password">&#x1F441;</span>
                </div>
            </div>
        </div>
        <div class="col-12 form-group justify-content-center text-center ">
            <button type="submit" class="btn btn-primary" onclick="return validPasswordsAndEmail()">עדכון סיסמא</button>
        </div>
    </div>
}