@{
    Layout = null;
}

<h1>רכבים</h1>

@*
    @Html.ValidationMessageFor(model => model.CarNumber, "", new { @class = "control-label col-md-2" }) - primary key
    @Html.ValidationMessageFor(model => model.CarCompany, "", new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.CarYear, "", new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.CarComment, "", new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.FileCarLicense, "", new { @class = "control-label col-md-2" })
    @Html.ValidationMessageFor(model => model.PathCarLicense, "", new { @class = "control-label col-md-2" })
*@