@using DataEntities;

@{
    ViewBag.Title = "סוציואקונומית";
    Layout = "~/Views/Student/_Sp_Layout.cshtml";
}
<h2>מלגת סוציואקונומית חדשה</h2>

<input id="spid" value="@ViewBag.SpId" />

<div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Account Setup</li>
        <li>Social Profiles</li>
        <li>Personal Details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        @using (Ajax.BeginForm("SaveSocioDetails", "Student", new AjaxOptions { HttpMethod = "POST", OnSuccess = "firstsuccess(data);", LoadingElementId = "div_loading" }, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
        <div id="partialsocio">
            @Html.Action("PartialSocioDetails", "Student", new { SpId = ViewBag.SpId })
        </div>
                <div id="div_loading" style="display:none;">
                <img src="@Url.Content("~/Content/Pic/Spinner.gif")" alt="" />
            </div>
            <button class="btn btn-primary" type="submit" value="Submit">שלח</button>
        }
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        @using (Ajax.BeginForm("StudentFinance", "Student", new AjaxOptions { HttpMethod = "POST", OnSuccess = "secondsuccess();" }))
        {
            @Html.AntiForgeryToken()
       
            @Html.Action("PartialStudentFinance", "Student")
            <button class="btn btn-primary" type="submit" value="Submit">שלח</button>
        }
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset class="active">
            @Html.AntiForgeryToken()
            @Html.Action("PartialFundings", "Student")
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
</div>

@*
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Account Setup</li>
            <li>Social Profiles</li>
            <li>Personal Details</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="pass" placeholder="Password" />
            <input type="password" name="cpass" placeholder="Confirm Password" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input type="text" name="twitter" placeholder="Twitter" />
            <input type="text" name="facebook" placeholder="Facebook" />
            <input type="text" name="gplus" placeholder="Google Plus" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>
*@

@section scripts{
    <script>
       $(document).ready(function ()
        {
        });

        function firstsuccess(data) {
            console.log(data);
            $('#partialsocio').html(data);
            console.log('this is ajaxSuccess');
        }
    </script>
}
