@using DataEntities;

@{
    ViewBag.Title = "סוציואקונומית";
    Layout = "~/Views/Student/_Sp_Layout.cshtml";
}
<h2>מלגת סוציואקונומית חדשה</h2>

<input id="spid" value="@ViewBag.SpId" hidden />

<div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Account Setup</li>
        <li>Social Profiles</li>
        <li>Personal Details</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
        @using (Ajax.BeginForm("SaveSocioDetails", "Student", new AjaxOptions { HttpMethod = "POST", OnSuccess = "sociodetsuccess", OnFailure = "sociodetfail", OnBegin = "loadingajax", OnComplete = "completeajax" }, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div id="partialsocio">
                @Html.Action("PartialSocioDetails", "Student", new { SpId = ViewBag.SpId })
            </div>


            <button class="btn btn-primary" id="sociodetsub">המשך</button>
        }
        <input id="sociodetnext" type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        @using (Ajax.BeginForm("StudentFinance", "Student", new AjaxOptions { HttpMethod = "POST", OnSuccess = "secondsuccess();" }))
        {
            @Html.AntiForgeryToken()
            <div id="partialstudfinance">
                @Html.Action("PartialStudentFinance", "Student")
            </div>
            <button class="btn btn-primary" type="submit" value="Submit">שלח</button>
        }
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
        @Html.AntiForgeryToken()
        <div id="partialfundings">
            @Html.Action("PartialFundings", "Student")
        </div>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
</div>

<!-- Loading Modal -->
<div class="modal" id="loadingmodal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title m-auto">אנא המתן</h2>
            </div>

            <!-- body - loading spinner -->
            <div class="modal-body text-center">
                <img src="@Url.Content("~/Content/Pic/Spinner.gif")" alt="" />
            </div>
        </div>
    </div>
</div>

@*
    <form id="msform">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Account Setup</li>
            <li>Social Profiles</li>
            <li>Personal Details</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">Create your account</h2>
            <h3 class="fs-subtitle">This is step 1</h3>
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="pass" placeholder="Password" />
            <input type="password" name="cpass" placeholder="Confirm Password" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3>
            <input type="text" name="twitter" placeholder="Twitter" />
            <input type="text" name="facebook" placeholder="Facebook" />
            <input type="text" name="gplus" placeholder="Google Plus" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3>
            <input type="text" name="fname" placeholder="First Name" />
            <input type="text" name="lname" placeholder="Last Name" />
            <input type="text" name="phone" placeholder="Phone" />
            <textarea name="address" placeholder="Address"></textarea>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" class="submit action-button" value="Submit" />
        </fieldset>
    </form>
*@

@section scripts{
    <script>
        $(document).ready(function () {

            /*$('#sociodetsub').click(function () {
                var form = $("Form#partialsocio");

                $.ajax({
                    url: 'Url.Action("SaveSocioDetails", "Student")',
                    data: form.serialize(),
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                                    $('#partialsocio').html("");
            $('#partialsocio').html(data);
                    }
                });
            });*/
        });


        function loadingajax() { // loading modal - show spinner
            $('#loadingmodal').modal('show');
        }

        function completeajax() { // loading modal - dismiss spinner
            $('#loadingmodal').modal('hide');
        }

        function sociodetsuccess(bdata) { // if ajax return success
            console.log('this is ajaxSuccess');
            $('#partialsocio').empty(); // empty the div of sociodet
            $('#partialsocio').html(bdata); // show partial view that have returned - if the user will click previous
            $("#sociodetnext").click();
        }

        function sociodetfail(bdata) { // if ajax return failed
            console.log('this is ajaxfail');
            $('#partialsocio').empty(); // empty the div of sociodet
            $('#partialsocio').html(bdata.responseText); // show partial view that have returned - with errors
        }
    </script>
}
