@using HtmlHelpers.BeginCollectionItem
@model DataEntities.StudentFinance

<div class="studfin">
    @using (Html.BeginCollectionItem("ListStudentFinances"))
    {
        <div class="text-center">
            <h3><span class="box-title"></span> מס' @(Model.FinNo + 1)</h3>
        </div>

        <div class="text-center my-2">
            @Html.DropDownListFor(model => model.Year, ViewBag.YearsList as SelectList, "", htmlAttributes: new { @class = "must control-label chosen", @data_placeholder = "שנה" })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
        <div class="text-center my-2">
            @Html.DropDownListFor(model => model.Month, ViewBag.MonthsList as SelectList, "", htmlAttributes: new { @class = "must control-label chosen", @data_placeholder = "חודש" })
            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
        </div>
        <div class="form-row text-center w-75 mx-auto">
            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "must control-label pos-num" } })
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "title" })
            @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
        </div>
        <p>קובץ <span class="box-title"></span></p>
        <div class="half-row">
            <div class="form-row chose-file-warp">
                <div class="chose-file text-center">
                    @Html.TextBoxFor(model => model.FileSalary, new { @class = "must control-label", @type = "file", @accept = "image/jpeg,image/jpg,image/png,application/pdf", @style = "display:none;", @path = Model.PathSalary })
                    <label for="@Html.IdFor(m => m.FileSalary)">
                        <i class="ml-1 material-icons">add_photo_alternate</i>
                        בחר קובץ
                    </label>
                    @Html.ValidationMessage("Salary1", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-center form-row ">
                <a name="@Model.PathSalary" style="display:@(Model.PathSalary != null ? "" : "none")" class="btn btn-light btn-file">צפייה בקובץ שמור</a>
            </div>
        </div>
        @Html.HiddenFor(model => model.FinNo)
    }
</div>

